
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.table-bordered {
        margin-top: 10px;
    background-color: white;
}
thead{
	background-color: #ecf0f1;
}
.add{
	background-color: #00a859;
    border: 0px;
    border-radius: 20px;
    padding: 10px;
        color: white;
            margin-top: 10px;
}
.edit{
	background-color: #009688;
    border: 0px;
    border-radius: 20px;
    padding: 10px;
        color: white;
            margin-right: 10px;
}
.delete{
	background-color: #F44336;
    border: 0px;
    border-radius: 20px;
    padding: 10px;
        color: white;
            margin-right: 10px;
}
.submit{
	background-color: #9C27B0;
    border: 0px;
    border-radius: 20px;
    padding: 10px;
        color: white;
}
.update{
	background-color: #E91E63;
    border: 0px;
    border-radius: 20px;
    padding: 10px;
        color: white;
            margin-top: 10px;
}

#principal{
	margin-left: 20px;

}
input{
	padding: 10px;
}
#three{
	width: 90%;
	margin-top: 10px;
	    padding: 10px;

}
